<!DOCTYPE html>
<html>
<head>
    <title>Vets2Tech Home</title>
</head>
<body>
    <h1>Welcome to Vets2Tech</h1>
    <p>This is the home page of the Vets2Tech project. Use the navigation links below to access other features:</p>
    <ul>
        <li><a href="C:\Users\User\vets2tech\templates\chatbot\chatbot.html">Chatbot</a></li>
        <li><a href="C:\Users\User\vets2tech\templates\chatbot\quiz.html">Quiz</a></li>
        <li><a href="C:\Users\User\vets2tech\templates\chatbot\admin_visualization.html">Admin Visualizations</a></li>
    </ul>
</body>
</html>
